<!DOCTYPE html>
<html>
	<head>
		<title>Book Appointment</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" type="image/x-icon" href="favicon.ico"/> <!-- icon file -->
	</head>
	<body>
		<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-firestore.js"></script>
	<script>
	// Your web app's Firebase configuration
	var firebaseConfig = {
		apiKey: "AIzaSyCuT1ebwg7cN9Me0hP4ui3eqFpmwXBEmg0",
		authDomain: "appointments-c8d67.firebaseapp.com",
		databaseURL: "https://appointments-c8d67.firebaseio.com",
		projectId: "appointments-c8d67",
		storageBucket: "appointments-c8d67.appspot.com",
		messagingSenderId: "541361933589",
		appId: "1:541361933589:web:e88e15f76fb693ca3bed1c"
	};
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);
	var firestore = firebase.firestore();
	const db = firestore.collection("appointments");
	</script>

    <div class="subpage">

    		<!-- Header -->
		<header id="header">
			<div class="inner" id="navID">
				<a href="index.html" class="logo"><strong>EH</strong>ealth</a>
				<nav id="nav">
                    <a href="emergency.html">Book Emergency</a>
                    <a href="remedies.html">Home Remedies</a>
                    <a href="doctors.html">Find Doctor</a>
				
					<a v-if="log" href="profile.html">Profile</a>
					<a v-if="log" href="javascript:signOut();">Log Out</a>

				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	        </div>
        </header>
    </div>


    <div class="subpage">
        <img src="images/1.jpg" align="left" width="9.5%" >
    </div>

	<!-- form -->
    <section id="form" class="wrapper">
        <div class="inner" id="appointment">
        <label>Full Name:</label>
        <input v-model="nameField" id="fullName" type="text"><br>

        <label>Email:</label>
        <input v-model="emailField" id="emailAppoint" type="text"><br>

        <p><label>Select Date of Birth:</label>
        <input v-model="dateField" id="dob" type="date"><br></p>

        <p><label>Select Date for Appointment:</label>
        <input v-model="appouintmentdateField" id="dAppoint" type="date"><br></p>

        <p><label>Select Time for Appointment:</label>
        <input v-model="timeField" id="tAppoint" type="time"><br></p>

        <tr>
        <p><td><button id="submit" class="btn btn-primary" >Book Appointment</button></td></p>
        </tr>
    </div>
    </section>

    <!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Have any questions?</h3>
					<h2>Get in touch</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit" id="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						Made at UTS SES 1A, Group 3 Spring 2020. Images: <a href="https://unsplash.com">Unsplash</a><div class="p"></div> <a href="https://github.com/Atharva-Kapare/UTS-SES-1A/tree/master">Source code can be found here</a>
					</div>

				</div>
			</footer>

			<script>
				const submitBtn = document.querySelector("#submit");
				let fullName = document.querySelector("#fullName");
				let email = document.querySelector("#emailAppoint");
				let dob = document.querySelector("#dob");
				let dAppoint = document.querySelector("#dAppoint");
				let tAppoint = document.querySelector("#tAppoint");

				submitBtn.addEventListener('click', function() {
					let fullNameInput = fullName.value;
					let emailInput = email.value;
					let dobInput = dob.value;
					let dAppointInput = dAppoint.value;
					let tAppointInput = tAppoint.value;
					db.doc().set({
						fullName : fullNameInput,
						email : emailInput,
						dob : dobInput,
						dAppoint : dAppointInput,
						tAppoint : tAppointInput
					}).then(function() {
						console.log("Data Saved");
					}) ;
				});
			</script>
		

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="./vueControllers/login.js"></script>
		<script src="./vueControllers/register.js"></script>
		<script src="./vueControllers/profile.js"></script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		

	</body>
</html>