<!DOCTYPE html>
<html> 
  <head>
    <title>Chat</title> <!-- This is the title of the site that shows up in the tab feel free to change it -->
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css"> <!-- The css file -->
	<link rel="stylesheet" href="assets/css/chatcss.css">
    <script src="assets/js/WebsiteScript.js"></script> <!-- the javascript file -->
    <link rel="icon" type="image/x-icon" href="favicon.ico"/> <!-- icon file -->
  </head> 
  <body>
    <div class="subpage">

        <!-- Header -->
    <header id="header">
        <div class="inner" id="navID">
            <a href="index.html" class="logo"><strong>EH</strong>ealth</a>
            <nav id="nav">
                <a href="emergency.html">Emergency</a>
                <a href="doctors.html">Find Doctor</a>
            
                <a v-if="log" href="profile.html">Profile</a>
                <a v-if="log" href="javascript:signOut();">Log Out</a>

            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    
</div>

    <!-- content body of website -->
    <div class="subpage">
      <section class="contentContainer">
  		<section class="msger">
		  <header class="msger-header">
			<div class="msger-header-title">
			  <i class="fas fa-comment-alt"></i> <h2>Chat Messages</h2>
			</div>
			<div class="msger-header-options">
			  <span><i class="fas fa-cog"></i></span>
			</div>
		  </header>

		  <main class="msger-chat">
			<div class="msg left-msg">
			  <div
			   class="msg-img"
			   style="background-image: url(images/icon.png)"
			  ></div>

			  <div class="msg-bubble">
				<div class="msg-info">
				  <div class="msg-info-name">EHealth BOT</div>
				  <div class="msg-info-time"></div>
				</div>

				<div class="msg-text">
				  Hi, Welcome to EHealth Services 👋 😄 <br/>
				  1. I will be ready to receive documents. <br/>
				  2. Write a message for your doctor. <br/>
				  3. You need a quick analysis? <br/>
				  4. You have an emergency and need attention <br/>
				  5. Need help navigating the site? 
				</div>
			  </div>
			</div>

			<div class="msg right-msg">
			 <!-- <div
			   class="msg-img"
			   style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
			  ></div>

			  <div class="msg-bubble">
				<div class="msg-info">
				  <div class="msg-info-name">Jake</div>
				  <div class="msg-info-time">12:46</div>
				</div>

				<div class="msg-text">
				  You can change your name in JS section!
				</div>
			  </div>
			</div> -->
		  </main>

		  <form class="msger-inputarea">
			<input type="text" class="msger-input" id="message" placeholder="Enter your message...">
			<button type="submit" class="msger-send-btn">Send</button>
		  </form>
		</section>
		<script>
		  const msgerForm = get(".msger-inputarea");
		const msgerInput = get(".msger-input");
		const msgerChat = get(".msger-chat");


		const BOT_MSGS = [
		  "Hi, how are you?",
		  "Ohh... I can't understand what you trying to say. Sorry!",
		  "I like to play games... But I don't know how to play!",
		  "Sorry if my answers are not relevant. :))",
		  "I feel sleepy! :("
		]; 


		// Icons made by Freepik from www.flaticon.com
		const BOT_IMG = "https://image.flaticon.com/icons/svg/327/327779.svg";
		const PERSON_IMG = "https://image.flaticon.com/icons/svg/145/145867.svg";
		const BOT_NAME = "Helper BOT";
		const PERSON_NAME = "Admin";

		msgerForm.addEventListener("submit", event => {
		  event.preventDefault();

		  const msgText = msgerInput.value;
		  if (!msgText) return;

		  appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
		  temp = msgText; 
		  msgerInput.value = "";

		  botResponse();
		});

		function appendMessage(name, img, side, text) {
		  //   Simple solution for small apps
		  const msgHTML = `
			<div class="msg ${side}-msg">
			  <div class="msg-img" style="background-image: url(${img})"></div>

			  <div class="msg-bubble">
				<div class="msg-info">
				  <div class="msg-info-name">${name}</div>
				  <div class="msg-info-time">${formatDate(new Date())}</div>
				</div>

				<div class="msg-text">${text}</div>
			  </div>
			</div>
		  `;

		  msgerChat.insertAdjacentHTML("beforeend", msgHTML);
		  msgerChat.scrollTop += 500;
		}
		function appendImageMessage(name, img, side, text) {
		  //   Simple solution for small apps
		  const msgHTML = `
			<div class="msg ${side}-msg">
			  <div class="msg-img" style="background-image: url(${img})"></div>

			  <div class="msg-bubble">
				<div class="msg-info">
				  <div class="msg-info-name">${name}</div>
				  <div class="msg-info-time">${formatDate(new Date())}</div>
				</div>

				<div class="msg-text"><a href=""><img src="uploadIcon2.png"></a></div>
			  </div>
			</div>
		  `;

		  msgerChat.insertAdjacentHTML("beforeend", msgHTML);
		  msgerChat.scrollTop += 500;
		}

		function botResponse() {
		 const r = random(0, BOT_MSGS.length - 1);
		  const msgText = BOT_MSGS[r];
		  switch (temp) {/*
		  if (temp == "1") {
			msg = "Please submit here";
		  }
		  */

		  case "1": 
			msg = "Please submit here"; 
			appendImageMessage(BOT_NAME, BOT_IMG, "left")
			break; 
		  case "2": 
			msg = "Enter message:"; 
			break; 
		  case "3":
		  msg = "Descibe symptoms and I will try my best to help.";
		  break; 
		  case "4": 
		  msg = "I will try to find an available doctor. This will be emailed to you. Please call 000 if it is needed.";
		  break; 
		  case "5": 
		  msg = "What troubles you?";
		  break; 
		  default: 
		  msg = "Please email me at ehealth@gmail.com and I will try to find an available doctor. This will be emailed to you. Please call 000 for any urgent emeragency. :(";
		  break; 
		}

		  
		  
		  const delay = msgText.split(" ").length * 100;

		  setTimeout(() => {
			appendMessage(BOT_NAME, BOT_IMG, "left", msg);
		  }, delay); 
		  temp = "";
		}

		// Utils
		function get(selector, root = document) {
		  return root.querySelector(selector);
		}

		function formatDate(date) {
		  const h = "0" + date.getHours();
		  const m = "0" + date.getMinutes();

		  return `${h.slice(-2)}:${m.slice(-2)}`;
		}

		function random(min, max) {
		  return Math.floor(Math.random() * (max - min) + min);
		}

		</script>
      </section>
    </div>
    
    <!-- fixed footer bar -->
    <footer id="footer">
        <div class="inner">

            <h3>Have any questions?</h3>
            <h2>Get in touch</h2>

            <form action="#" method="post">

                <div class="field half first">
                    <label for="name">Name</label>
                    <input name="name" id="name" type="text" placeholder="Name">
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input name="email" id="email" type="email" placeholder="Email">
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                </div>
                <ul class="actions">
                    <li><input value="Send Message" class="button alt" type="submit" id="submit"></li>
                </ul>
            </form>

            <div class="copyright">
                Made at UTS SES 1A, Group 3 Spring 2020. Images: <a href="https://unsplash.com">Unsplash</a><div class="p"></div> <a href="https://github.com/Atharva-Kapare/UTS-SES-1A/tree/master">Source code can be found here</a>
            </div>

        </div>
    </footer>
  </body>
</html>
