<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Prescription</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="icon" type="image/x-icon" href="favicon.ico"/> <!-- icon file -->
        <script src="https://smtpjs.com/v3/smtp.js"></script> 
        <script src="prescription.js"></script>
	</head>
	<body class="subpage">
        <!-- Header -->
		<header id="header">
			<div class="inner" id="navID">
				<a href="index.html" class="logo"><strong>EH</strong>ealth</a>
				<nav id="nav">
					<a href="index.html">Home</a>
					<a href="appointment.html">Appointment</a>
				
					<a v-if="log" href="profile.html">Profile</a>
					<a v-if="log" href="javascript:signOut();">Log Out</a>

				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
        </header>
        
        <section id="three" class="wrapper">
            <div class="inner" id="prescription">
                <label>First Name:</label>
                <input v-model="firstField" type="text" id="firstName"><br>

                <label>Last Name:</label>
                <input v-model="lastField" type="text" id="lastName"><br>

                <label> Patient's Email:</label>
                <input v-model="emailField" type="text" id="patientsEmail"><br>

                <label for="prescription">Prescription</label>
                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
    
                
                <div class="align-center">
                    <!-- <button v-on:click="Send">Send prescription</button><br> -->
                    <form method="post">
                        <input type="button" value="Prescribe" onclick="sendEmail()"/>
                    </form>  
                </div>
            </div>
        </section>
        Footer
			<footer id="footer">
				<div class="inner">

					<div class="copyright">
						Made at UTS SES 1A, Group 3 Spring 2020. Images: <a href="https://unsplash.com">Unsplash</a><div class="p"></div> <a href="https://github.com/Atharva-Kapare/UTS-SES-1A/tree/master">Source code can be found here</a>
					</div>

				</div>
			</footer>
	</body>
    </html>