<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Prescription</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/uc.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico"/> <!-- icon file -->
      <h2>Contacts for Urgent Cases</h2>
      <p id="title">Here are all the doctors that are available for emergency appointments, and unplanned over the phone consultations.</p>
     
	</head>
	<body class="subpage">      
        <!-- Header -->
		<header id="header">
			<div class="inner" id="navID">
				<a href="index.html" class="logo"><strong>EH</strong>ealth</a>
				<nav id="nav">
					<a href="index.html">Home</a>
					<a href="appointment.html">Appointment</a>
				
					<a v-if="log" href="profile.html">Profile</a>
					<a v-if="log" href="javascript:signOut();">Log Out</a>

				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
        </header>
           
        <section class="AllDoctors">
                
                <p> 
                    <strong>Name:</strong> Dr. Penny Longbottom. <br> <strong>Specialisation:</strong> Oncology <br> <strong>Location:</strong> Blacktown <br> <strong>Phone:</strong> 0412121111 <br> <strong>Office:</strong> 0212345678 <br>
                </p>
                <p> 
                    <strong>Name:</strong> Dr. FirstName LastName. <br> <strong>Specialisation:</strong> Anaesthesiology <br> <strong>Location:</strong> Parramatta <br> <strong>Phone:</strong> 0412121111 <br> <strong>Office:</strong> 0212345678 <br>
                </p>
                <p> 
                    <strong>Name:</strong> Dr. Edward Scissorhands. <br> <strong>Specialisation:</strong> Immunology <br> <strong><a href="https://www.w3schools.com/">Location</a/strong> Mt Druitt <br> <strong>Phone:</strong> 0412121111 <br> <strong>Office:</strong> 0212345678 <br>
                </p>

           </section>
        
			<footer id="footer">
				<div class="inner">

					<div class="copyright">
						Made at UTS SES 1A, Group 3 Spring 2020. Images: <a href="https://unsplash.com">Unsplash</a><div class="p"></div> <a href="https://github.com/Atharva-Kapare/UTS-SES-1A/tree/master">Source code can be found here</a>
					</div>

				</div>
			</footer>
	</body>
    </html>