.AllDoctors{
padding-left: 2.5%;
}


h2{
    padding-top: 1%;
    padding-left: 2.5%;
    padding-bottom: 0%;
}

#title{
   
    padding-left: 2.5%;
    font: 10px;
    margin-bottom: 1%;
    margin-top: 1%;
}